.header {
  width: 50;
  display: flex;

}

.header-content {
  width: 60%;
  margin: 20px;

}

.center {
  text-align: center;
  font-family: Arial;
  color: white;
  
}

.background{
  background-color: black;
}

section {
  margin: 10px;
}

.section-header {
  cursor: pointer;
}


.experience{
  display: none;
}

.studies {
  display: none;
}

.active {
  display: block;
  background-color: azure;
  padding: 10px;
}
.topnav {
  overflow: hidden;
  background-color: black;
  
}
.topnav a {
  float: center;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  .topnav a:hover {
    background-color: white;
    color: black;
    text-align: center;

}
.Decop{
    font-family: fantasy;
}

.sectioncolor{
  background-color: gray;
}

